<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="ITM">
</head>

<img src="https://maua.br/images/selo-60-anos-maua.svg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Lab: Seleção de Dados em Pandas 

Referências e Materiais úteis para este Lab:

- [Notas de Aula](https://colab.research.google.com/github/Rogerio-mack/IMT_Ciencia_de_Dados/blob/main/IMT_Pandas_I.ipynb)
- [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)

---

In [4]:
import pandas as pd
import numpy as np

## **CASE Tips**

##### Q1. Considere a base de dados [`tips`](https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/tips.csv). Considerando somente os finais de semana, quem tem média de participantes na mesa maior, fumantes ou não fumantes?

In [5]:
tips = pd.read_csv('https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/tips.csv')
tips['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [6]:
df_naofumantes_tips = tips[tips['smoker'] == 'No']
df_fumantes_tips = tips[tips['smoker'] == 'Yes']

participantes_nf = df_naofumantes_tips.sum()['size']
participantes_f = df_naofumantes_tips.sum()['size']

mnf = participantes_nf/len(df_naofumantes_tips)
mf = participantes_f/len(df_fumantes_tips)

print(mf>mnf)

True

In [7]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## **CASE Insurance** 

Acesse a base de dados [`insurance`](https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/insurance.csv) para as questões a seguir.

In [8]:
insur = pd.read_csv('https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/insurance.csv')
insur

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

##### Q2. Qual percentual de homens e mulheres assegurados na base?

In [9]:
m = len(insur[insur['sex'] == 'male'])
f = m = len(insur[insur['sex'] == 'female'])

mpc = m / (m+f)
fpc = f / (m+f)

print(f'mpc = {mpc}; fpc = {fpc}')

mpc = 0.5; fpc = 0.5

##### Q3. Qual o total do valor de seguro pago por homens e mulheres segurados na base?

In [10]:
insur.groupby('sex').sum()

          age        bmi  children       charges
sex
female  26151  20110.070       711  8.321061e+06
male    26308  20917.555       754  9.434764e+06

##### Q4. Qual o precentual de valor de seguros pagos por homens e mulheres segurados na base?

In [11]:
m = insur[insur['sex'] == 'male']['charges'].sum()
f = insur[insur['sex'] == 'female']['charges'].sum()

mpc = m / (m+f)
fpc = f / (m+f)
print(f'mpc = {mpc}; fpc = {fpc}')

mpc = 0.5313616123751114; fpc = 0.4686383876248886

##### Q5. Não fumantes apresentam em média mais filhos?

In [12]:
df_naofumantes = insur[insur['smoker'] == 'no']
df_fumantes = insur[insur['smoker'] == 'yes']
cnf = df_naofumantes['children'].sum()
print(f'Filhos de não fumantes: {cnf}')
cf = df_fumantes['children'].sum()
print(f'Filhos de fumantes: {cf}')
qnt_naofumantes = len(df_naofumantes)
qnt_fumantes = len(df_fumantes)

mcnf = cnf / qnt_naofumantes
mcf = cf / qnt_fumantes

print(f'Média de filhos por não fumantes: {mcnf}\nMédia por fumantes: {mcf}')
print(mcnf>mcf)

Filhos de não fumantes: 1160
Filhos de fumantes: 305
Média de filhos por não fumantes: 1.0902255639097744
Média por fumantes: 1.1131386861313868
False

##### Q6. Qual a média e maior de idade dentre os segurados homem, das regiões northwest ou northeast?

In [21]:
region = ['northwest', 'northeast']
m = insur[(insur['region'].isin(region)) & (insur['sex'] == 'male')]
m.mean()
#m.groupby('region').max()

<ipython-input-21-260d85b8f6ba>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m.mean()

age            38.848765
bmi            29.072052
children        1.132716
charges     13108.691751
dtype: float64



## **CASE European Energy** 

Qual o tipo de Energia mais produzido na Europa? O uso de fontes renováveis já é significativo? 

<br>
<br>

<img src="https://camo.githubusercontent.com/a1a0f0c83b5fce8c06f95188889bf5bc4e63939541930179f8c0c5b406fb9ae1/68747470733a2f2f696d616765732e756e73706c6173682e636f6d2f70686f746f2d313533323630313232343437362d3135633739663266376135313f69786c69623d72622d312e322e3126697869643d65794a6863484266615751694f6a45794d446439266175746f3d666f726d6174266669743d63726f7026773d3133353026713d3830" width=300, align="left">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

[European Energy link](https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-08-04/readme.md)

Explore aqui como é a produção de Energia na Europa empregando a base de dados [`energy_types`](https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/energy_types.csv). Você pode achar útil fazer uma exploração inicial dos dados antes de começar.

In [23]:
energy = pd.read_csv('https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/energy_types.csv')
energy.head()

,country,country_name,type,level,2016,2017,2018
0,BE,Belgium,Conventional thermal,Level 1,30728.0,31316.0,30092.635
1,BE,Belgium,Nuclear,Level 1,41430.0,40128.5,26995.628
2,BE,Belgium,Hydro,Level 1,1476.0,1360.9,1239.248
3,BE,Belgium,Pumped hydro power,Level 2,1110.0,1093.2,983.190
4,BE,Belgium,Wind,Level 1,5340.0,6387.9,7177.346

##### Q7. Quantos tipos de energia e países diferentes há na base?

In [32]:
types = len(energy['type'].unique())
paises = len(energy['country'].unique())

print(f'Tipos: {types}\nPaíses: {paises}')

Tipos: 8
Países: 37

##### Q8. Qual o percentual de energia nuclear produzido na Europa no ano de 2018?

In [25]:
df_nuclear_2018 = energy[energy['type'] == 'Nuclear'][['country','type','2018']]
df_nuclear_2018.head()

   country     type       2018
1       BE  Nuclear  26995.628
9       BG  Nuclear  15290.000
17      CZ  Nuclear  28255.421
25      DK  Nuclear      0.000
33      DE  Nuclear  72274.133

In [26]:
df_2018 = energy[['country','type','2018']]
df_2018.head()

  country                  type       2018
0      BE  Conventional thermal  30092.635
1      BE               Nuclear  26995.628
2      BE                 Hydro   1239.248
3      BE    Pumped hydro power    983.190
4      BE                  Wind   7177.346

In [31]:
pc = df_nuclear_2018.sum()['2018']/df_2018.sum()['2018']
print(f'Percentual de energia nuclear na Europa em 2018: {pc}')

Percentual de energia nuclear na Europa em 2018: 0.22925252769137672

##### Q9. Qual o percentual de energia nuclear produzido na França no ano de 2018?

In [28]:
df_nuclear_fr_2018 = df_nuclear_2018[df_nuclear_2018['country'] == 'FR']
df_nuclear_fr_2018

   country     type        2018
73      FR  Nuclear  393153.254

In [29]:
df_fr_2018 = df_2018[df_2018['country'] == 'FR']
df_fr_2018.head()

   country                  type        2018
72      FR  Conventional thermal   53956.440
73      FR               Nuclear  393153.254
74      FR                 Hydro   68706.552
75      FR    Pumped hydro power    9082.043
76      FR                  Wind   26134.020

In [30]:
pc_nuclear_fr_2018 = df_nuclear_fr_2018.sum()['2018']/df_fr_2018.sum()['2018']
print(f'Percentual de energia nuclear na França em 2018: {pc_nuclear_fr_2018}')

Percentual de energia nuclear na França em 2018: 0.7010980377654339

##### Q10. Qual o percentual de energias limpas produzida na Europa no ano de 2018?

*Energias limpas somente Hidroelétrica, Eólica, Solar e Geotérmica.*

In [ ]:
pd.DataFrame(energy['type'].unique())

                      0
0  Conventional thermal
1               Nuclear
2                 Hydro
3    Pumped hydro power
4                  Wind
5                 Solar
6            Geothermal
7                 Other

In [ ]:
limpo = ['Hydro', 'Geothermal', 'Wind', 'Solar']
df_limpo_2018 = df_2018[df_2018['type'].isin(limpo)]
df_limpo_2018.head()

   country        type      2018
2       BE       Hydro  1239.248
4       BE        Wind  7177.346
5       BE       Solar  3488.979
6       BE  Geothermal     0.000
10      BG       Hydro  4690.000

In [ ]:
en_limpo_2018 = df_limpo_2018.sum()['2018']
en_total_2018 = df_2018.sum()['2018']

pc_limpo_2018 = en_limpo_2018/en_total_2018

print(f'Percentual de energia limpa na Europa em 2018: {pc_limpo_2018}')

Percentual de energia limpa na Europa em 2018: 0.3053953330199326

##### Q11. Considerando os anos de 2016, 2017 e 2018, a produção de energias limpas tem aumentado na Europa? Verifique em termos absolutos e percentuais.

*Energias limpas somente Hidroelétrica, Eólica, Solar e Geotérmica.*

In [ ]:
df_limpo = energy[energy['type'].isin(limpo)]
df_limpo.head()

   country country_name        type    level    2016      2017      2018
2       BE      Belgium       Hydro  Level 1  1476.0  1360.900  1239.248
4       BE      Belgium        Wind  Level 1  5340.0  6387.900  7177.346
5       BE      Belgium       Solar  Level 1  3070.0  3264.300  3488.979
6       BE      Belgium  Geothermal  Level 1     0.0     0.000     0.000
10      BG     Bulgaria       Hydro  Level 1  4535.0  3458.015  4690.000

In [ ]:
df_sujo = energy[~energy['type'].isin(limpo)]
df_sujo.head()

,country,country_name,type,level,2016,2017,2018
0,BE,Belgium,Conventional thermal,Level 1,30728.0,31316.000,30092.635
1,BE,Belgium,Nuclear,Level 1,41430.0,40128.500,26995.628
3,BE,Belgium,Pumped hydro power,Level 2,1110.0,1093.200,983.190
7,BE,Belgium,Other,Level 1,476.0,490.900,218.509
8,BG,Bulgaria,Conventional thermal,Level 1,18909.0,20234.209,19334.000

In [ ]:
en_limpa = df_limpo.sum(numeric_only=True)
en_suja = df_sujo.sum(numeric_only=True)

en_limpa_2016 = en_limpa['2016']
en_limpa_2017 = en_limpa['2017']
en_limpa_2018 = en_limpa['2018']

en_sujo_2016 = en_suja['2016']
en_sujo_2017 = en_suja['2017']
en_sujo_2018 = en_suja['2018']

print(f'Produção de energia limpa na Europa:\n2016: {en_limpa_2016}\n2017: {en_limpa_2017}\n2018: {en_limpa_2018}\n')
print(f'Produção de energia suja na Europa:\n2016: {en_sujo_2016}\n2017: {en_sujo_2017}\n2018: {en_sujo_2018}\n')

print(f'Percentual limpo:\n2016: {en_limpa_2016/en_sujo_2016}\n2017: {en_limpa_2017/en_sujo_2017}\n2018: {en_limpa_2018/en_sujo_2018}')

Produção de energia limpa na Europa:
2016: 1072303.537
2017: 1077515.942
2018: 1156738.155

Produção de energia suja na Europa:
2016: 2711571.444
2017: 2744127.6100000003
2018: 2630936.475

Percentual limpo:
2016: 0.39545465024450227
2017: 0.3926624760719491
2018: 0.43966783918642505